ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}


.card_container {
    border-bottom: 1px black solid;
    /* border; */
  }
  
.card_header {
    font-size: 2em;
  }
  
  /* .image_box {
    width: 100%;
  }
  
  .image_box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
   */
  .card_info {
    width: 100%;
    padding-left: 20%;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
    font-size: 1.1em;
  }

  .postimg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .modal {
    margin-top: 20px;
    padding: 20px;
    background-color: beige;
  }

.img_item{
  border: 1px solid black;
  width: 120px;
  height: 120px;
}

.card_details{
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  padding: 30px;
}

.card_details ol{
  width: 400px;
  text-align: left;
  height: 100px;
}

.card_title{
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.like_name{
  font-size: 22px;
  font-weight: bold;
}

.likeList_container {
  background-color: #EFF1F0;
  display: flex;
  width: 500px;
  height: 142px;
  box-shadow: 4px 4px 6px #0000002b;
  border-bottom-right-radius: 30px;
}

.likeList_container img_box{
  display: flex; 
}

.like_img{
  border: 1px solid black;
  width: 140px;
  height: 140px;
}

.like_txt{
  padding: 30px 15px;
  text-align: left;
}

.mycourse_modal{
  background-color: #e0edf1;
  width: 400px;
  height: 470px;
  box-shadow: 5px 3px 5px #0000003d;
  border-radius: 30px;
  border-top-left-radius: 0px;
  margin-left: 3px;
  position: absolute;
  left: 82%;
  z-index: 1;
}

.MyCourseCard {
  display: flex;
  position: relative;
}

.search_title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.search_container {
  padding: 20px;
  position: relative;
}

.search_address{
  color: black !important;
}

.search_container ul {
  font-size: 14px;
  text-align: left;
  color: gray;
}

.search_detail{
  background-color: #E0E3E8;
  right: -330px;
  top: -112px;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  text-align: -webkit-center;
  width: 290px;
}

.search_detail ul {
  font-size: 14px;
}

.SearchResultCard{
  height: 135px;
}

.SearchResultCard button{
  position: absolute;
  top: 16px;
  right: 6px;
}
.SearchResultCard:hover{
  background-color: #eff1f08f;
  cursor: pointer;
}
.sm_img{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 15px 0;
}

.sm_title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
}

@media only screen and (min-width: 1550px) {
  .mycourse_modal{
    box-shadow: -7px 7px 5px #0000003d;
    border-radius: 30px;
    border-top-right-radius: 0px;
    left: -408px;
  }

}