.form_container {
  padding: 40px;
  box-sizing: border-box;
  background: #EFF1F0;
  margin-top: 20px;
  box-shadow: 5px 5px 7px #00000030;
}

.sidebar {
    position: fixed;
    width: 240px;
    top: 150px;
    padding: 12px 12px 12px 0;
    box-sizing: border-box;
}

.link {
  display: flex;
  height: 40px;
  padding: 0 24px;
  background-color: white;
  color: black;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
}
.link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.postbox{
  margin-left: 200px;
  position: fixed;
  width: 700px;
  height: 400px;
  top: 160px;
  background-color: beige;
}

.content{
  width: 300px;
  height: 200px; 
}

.card_list{
  margin-top: 10px;
}

.write_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 75px;
}

.write_item label {
  color: #293D45;
  width: 60px;
  text-align: left;
  font-size: 15px;
}

.write_item input{
  width: 100%;
  border: 1px solid #cacaca;
  /* height: 20px; */
}
.write_container{
  width: 700px;
  margin: auto;
}

.write_container span{
  font-family: 'yg-jalnan'
}

:global #cm_title {
  height: 30px;
}

:global #writer{
  height: 30px;
}

.write_container select{
  height: 30px;
  border: 1px solid #cacaca;
  width: 100px;
  margin-left: -6px;
}

.write_container span{
  /* margin-bottom : 20px; */
  font-size: 20px;
  font-weight: bold;
}

:global #cm_image {
  height: 30px;
}

.btn_submit{
  color: black;
  width: 100px;
  height: 34px;
  font-weight: bold;
  border: 1px solid #cacaca;
  box-shadow: 3px 3px 3px 0px #8080803b;
  cursor: pointer;
}

.stamp_item{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 75px;
  text-align: left;
}

.stamp_item select, input{
  height: 40px;
  width: 350px;
  margin-top: 5px;
  box-sizing: border-box;
}

.stamp_container {
  padding: 40px;
  border-radius: 14px;
  box-sizing: border-box;
  background: #EFF1F0;
  width: 650px;
  margin-top: 20px;
  margin-left: 75px;
  box-shadow: 5px 5px 7px #00000030;
}

.stamp_form_container{
  padding: 40px;
  box-sizing: border-box;
  background: #EFF1F0;
  margin-left: 75px;
  box-shadow: 5px 5px 7px #00000030;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 17px;
}

.none_wrapper{
  padding: 30px 10px;
}

.none_wrapper span{
  font-size: 14px;
  word-break: keep-all;
}

.none_wrapper button{
  font-size: 14px;
  background: white;
  border-radius: 5px;
  padding: 10px 80px;
  margin-top: 20px;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 27%);
  cursor: pointer;
}

.none_result_txt{
  font-size: 14px;
  word-break: keep-all;
  margin-bottom: 50px;
  margin-top: 30px;
}

.none_title{
  font-size: 18px !important;
  font-weight: bold;
  font-family: 'yg-jalnan';
}

.none_result_title{
  font-size: 18px !important;
}

.search_map_input{
  position: relative;
}

.search_map_input button{
  position: absolute;
  top: 12px;
  right: 17px;
}

:global #before_img {
  width: 200px;
  opacity: 0.5;
}

:global #after_img {
  width: 200px;
}

