.form_container {
  padding: 40px;
  box-sizing: border-box;
  background: #EFF1F0;
  margin-top: 20px;
  box-shadow: 5px 5px 7px #00000030;
}

.sidebar {
    position: fixed;
    width: 240px;
    top: 150px;
    padding: 12px 12px 12px 0;
    box-sizing: border-box;
}

.link {
  display: flex;
  height: 40px;
  padding: 0 24px;
  background-color: white;
  color: black;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
}
.link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.postbox{
  margin-left: 200px;
  position: fixed;
  width: 700px;
  height: 400px;
  top: 160px;
  background-color: beige;
}

.content{
  width: 300px;
  height: 200px; 
}

.write_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.write_item label {
  color: #293D45;
  width: 60px;
  text-align: left;
  font-size: 15px;
}

.write_item input{
  width: 100%;
  border: 1px solid #cacaca;
  /* height: 20px; */
}
.write_container{
  width: 700px;
  margin: auto;
}

:global #cm_title {
  height: 30px;
}

:global #writer{
  height: 30px;
}

.write_container select{
  height: 30px;
  border: 1px solid #cacaca;
  width: 100px;
  margin-left: -6px;
}

.write_container span{
  /* margin-bottom : 20px; */
  font-size: 20px;
  font-weight: bold;
}

:global #cm_image {
  height: 30px;
}

.btn_submit{
  width: 100px;
  height: 34px;
  font-weight: bold;
  border: 1px solid #cacaca;
  box-shadow: 3px 3px 3px 0px #8080803b;
}