.search-sidebar{
    width: 330px;
    height: 900px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    background-color: #E0E3E8;
    position: absolute;
    z-index: 10;
    margin: 30px 0 0 30px;
}

.sidebar_category {
    display: flex;
    margin-left: 7%;
    margin-top: 15px;
}

.sidebar_category li {
    margin-right: 20px;
    font-size: 14px;
}

.search-sidebar input {
    width: 88%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
}