.App {
  text-align: center;
}

body {
  font-family:'nanumsquare';
}

.Main_Search{
  list-style: none;
  background-color: #E0E3E8;
  padding: 80px;
}

.Main_Search a{
  font-size: 13px;
}

#title {
  font-size: 40px;
}

.Main_Search input{
  width: 600px;
  height: 30px;
  border-style: none;
}

.Search_Category {
  display: flex;
  margin-left: 390px;
  margin-top: 20px;
}

.Search_Category li{
  padding-right: 15px;
}
