.App {
  text-align: center;
}

body {
  font-family:'nanumsquare';
}

.first_container{
  list-style: none;
  background-color: #E0E3E8;
  padding: 80px;
}

.first_container a{
  font-size: 13px;
}

#title {
  font-size: 40px;
}

.first_container input{
  width: 600px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
}

.Search_Category {
  display: flex;
  margin-left: 390px;
  margin-top: 20px;
}

.Search_Category li{
  padding-right: 15px;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}