.main_container{
  background: #E0E3E8;
  display: flex;
  padding: 50px 0 50px;
}

.community_container{
  background: #E0E3E8;
  display: flex;
}

.card_list  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #E0E3E8;
  padding: 30px;
  width: 100%;
  height: 100%;
  grid-gap: 10px;
}

.filter_container {
  width: 110px;
}

.filter_container ol{
  padding: 0px;
}

.filter_container ul{
  padding: 0px;
  border-bottom: 1px solid rgb(185, 183, 183);
}

.filter_container img {
  width: 20px;
  margin-right: 5px;
}

.menu {
  /* height: 82vh; */
  background-color: #EFF1F0;
  padding-top: 30px;
  padding-left: 50px;
  color: #293D45;
}

.filter_container button{ 
  padding: 10px 40px 10px 0px;
  color: #293D45;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  text-align: left;
}

button.active{
  background: #E0E3E8;
}

:global #media_name {
  height: 30px;
}

:global #id {
  height: 30px;
}

.like_list  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  grid-gap: 10px;
  margin-left: 75px;
}

.title_like {
  text-align: left;
  margin-left: 75px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}