.main_container{
  display: flex;
}

.card_list  {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  /* justify-content: center;
  flex-wrap: wrap; */
  background-color: #E0E3E8;
}

.filter_container ol{
  padding: 0px;
}

.filter_container ul{
  padding: 0px;
  border-bottom: 1px solid rgb(185, 183, 183);
}

.filter_container img {
  width: 20px;
  margin-right: 5px;
}

.menu {
  height: 82vh;
  background-color: #EFF1F0;
  padding-top: 30px;
  padding-left: 50px;
  color: #293D45;
}

.filter_container button{ 
  padding: 10px 40px 10px 0px;
  color: #293D45;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  text-align: left;
}

button.active{
  background: #E0E3E8;
}