.course-sidebar{
    width: 300px;
    height: 1000px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px gray;
    background-color: #e0edf1;
    /* #E0E3E8 */
    position: absolute;
    z-index: 10;
    margin: 30px 0 0 30px;
}

#course-line{
    border: 2px solid gray;
    border-radius: 20px;
    background-color: gray;

    height: 93%;
    width: 0px;

    margin: 8% 14%;
}

button{
    border: none;
    background-color: #ffffff00;
}

.course-make button {
    background-color: #79bc82;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    color: black;
    font-size: 40px;

    top: 6%;
    left: 6%;
}

.modal_course {
    background-color: #e0edf1;
    width: 280px;
    height: 430px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px #80808075;
    
    position: absolute;
    top: 5%;
    left: 100%;
}

.infowindowtext {
    font-size: 30px !important;
  }