.Search{
    background-color: #E0E3E8;
    padding: 30px 50px;
    list-style: none;
}

.Filter{
    display: flex;
    place-content: center;
    margin-bottom: 20px;
}

.FilterIcons{
    margin : 0px auto;
    width: 72px;
    height: 72px;
}

.FilterIcons{
    font-size : 13px;
}

.FilterIcons img {
    width : 50px;
}

.FilterIcons:hover{
    background: rgb(0 0 0 / 5%);
    border-radius: 50%;
    width: 72px;
    height: 72px;
}

.FilterIcons.filterOn{
    background: rgb(0 0 0 / 10%);
    border-radius: 50%;
    width: 72px;
    height: 72px;
}

.test{
    border: 1px solid black;
    width: 30px;
    height: 200px;
}

.btn_active {
    border-bottom: 2px solid gray;
}